@use '../variables' as v;

.container {
  flex: 1;
  overflow-y: auto;
}

.inner {
  max-width: v.$chat-max-w;
  margin: 0 auto;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
// Force HMR recompile

